.header {
  text-align: center;
  text-transform: capitalize;
  font-family: "Lucida Sans Unicode", Verdana, sans-serif;
}

.formulario {
  display: flex;
}
.form-vezes select {
  display: flex;
}

img {
  width: 500px;
  height: 230px;
}
.portfolio {
  text-align: left;
  text-transform: capitalize;
}
